.task-name {
    font-size: 3rem;
    text-align: center;
    margin: 3rem 0;
    text-decoration: underline;
}

.task-description {
    width: 70%;
    padding: 2rem;
    margin: 0 auto 3rem auto;
    border: 1px solid white;
    border-radius: 1rem;
    box-shadow: .5rem .5rem 2rem rgb(26, 23, 23);
}

.btn{
    margin: 0 auto;
}