@import "reset.css";
.form__wrapper {
  padding: 3rem;
  width: 31%;
  margin: 3.5rem auto 0 auto;
  background-color: rgba(39, 39, 39, 0.852);
  color: white;
  border-radius: 2.5rem;
  box-shadow: 0.8rem 0.8rem 5rem black;
}
.form-registration-wrapper {
  padding: 4rem;
  width: 35%;
  margin: 10vh auto 10vh auto;
}

.heading {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: 3rem;
}

.forget-password-link {
  display: block;
  color: white;
  margin-bottom: 1.5rem;
}

.btn-form {
  display: block;
  margin: 2rem 0;
  width: 100%;
  background-color: rgb(121, 121, 121);
  border-radius: 1.5rem;
  height: 4rem;
  color: white;
  transition: all 0.7s;
  cursor: pointer;
  outline: none;
  border: none;
}
.btn-form:hover {
  background-color: rgb(84, 84, 84);
}
.btn-form:active {
  transform: none;
}

.sigIn-registration-link a {
  display: block;
  margin-top: 1rem;
  color: rgb(216, 81, 81);
}
.sigIn-registration-link a:hover {
  text-decoration: underline;
}

.signForm-input {
  display: block;
  margin-bottom: 2rem;
}
.signForm-input label {
  margin-bottom: 0.7rem;
  display: block;
  font-size: 1.4rem;
}

.form-input {
  display: block;
  padding: 1rem;
  width: 100%;
  background-color: rgb(187, 187, 187);
  border-radius: 1.5rem;
  height: 4rem;
}
.form-input:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
}

.body-form {
  background: linear-gradient(90deg, rgb(179, 178, 181), rgb(34, 33, 33));
}
.body-main {
  background: rgb(59, 59, 59);
}

.display-none {
  display: none !important;
}

.container {
  font-size: 1.6rem;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 4.5rem;
  position: relative;
}

.heading {
  width: 18%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 2rem;
  border: 0.1rem solid white;
  color: white;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
}

.heading-log {
  margin: 0 auto;
  margin-bottom: 2rem;
  color: white;
  font-weight: 700;
  letter-spacing: 0.2rem;
  font-size: 2.5rem;
  text-align: center;
}

.btn-white {
  display: block;
  width: 13rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 1rem rgb(25, 25, 25);
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 1.6rem;
  background-color: white;
  color: black;
  text-align: center;
}
.btn-white:hover {
  background-color: rgb(197, 197, 197);
}

#searchTask-input {
  width: 60%;
  display: block;
  padding: 1rem;
  margin-right: 1rem;
  background-color: transparent;
  height: 3.5rem;
  border: 1px solid white;
  border-radius: 1rem;
  color: white;
}

.searchTask__section {
  display: flex;
  margin-bottom: 5rem;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
}

.btn__search, .btn__cancelSearch {
  display: block;
  padding: 0.8rem;
  width: 11rem;
  height: 100%;
  background-color: rgb(133, 67, 204);
  border-radius: 1rem;
  text-align: center;
  color: white;
  transition: background-color 0.85s, box-shadow 0.85s, transform 0.1s;
}
.btn__search:hover, .btn__cancelSearch:hover {
  background-color: rgb(97, 43, 154);
  box-shadow: 0.5rem 0.5rem 1rem rgb(38, 36, 36);
}
.btn__search:active, .btn__cancelSearch:active {
  transform: translateY(0.3rem);
}

.btn__search {
  margin-right: 1rem;
}

.tasksList {
  width: 55%;
  margin: 0 auto;
}

.tasks__wrapper {
  position: relative;
  padding-top: 3rem;
}

.task-item {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  border: 1px solid rgba(100, 99, 99, 0.75);
  border-radius: 3rem;
  box-shadow: 0.5rem 0.5rem 1.7rem rgb(34, 32, 32);
  transition: transform 0.25s;
  background-color: rgba(195, 195, 195, 0.1);
}
.task-item:hover {
  cursor: pointer;
}
.task-item:active {
  transform: translateY(0.3rem);
}
.task-control {
  display: flex;
}
.task-btn {
  display: block;
  display: flex;
  background-color: rgb(133, 67, 204);
  color: white;
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.85s, box-shadow 0.85s, transform 0.1s;
  box-shadow: 0.5rem 0.5rem 1rem rgb(31, 31, 31);
}
.task-btn:first-child {
  margin-right: 1rem;
}
.task-btn:hover {
  background-color: rgb(97, 43, 154);
  box-shadow: 0.5rem 0.5rem 1rem rgb(38, 36, 36);
}
.task-btn:active {
  transform: translateY(0.3rem);
}

.task-content {
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

.task-item-description {
  border-radius: 0.8rem;
}
.task-item-description:hover {
  transform: none;
}

.btn-addTask {
  display: flex;
  margin: 0 auto 3rem auto;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: rgb(133, 67, 204);
  border-radius: 50%;
  color: white;
  font-size: 3.5rem;
  transition: all 0.4s;
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem 1rem rgb(27, 26, 26);
  background-color: rgb(117, 56, 182);
}

.img-logout {
  display: block;
  width: 10rem;
  margin: 0 auto;
}
.img-logout:hover {
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 10rem;
  left: 25%;
  width: 45%;
  padding: 2rem;
  border: 0.1rem solid white;
  border-radius: 1rem;
  background-color: rgb(36, 36, 36);
  color: white;
  box-shadow: 0.7rem 0.7rem 4rem black;
}
.modal p {
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}
.modal input {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2.5rem;
  padding: 1.5rem;
  background-color: transparent;
  color: white;
  border: 0.1rem solid white;
  border-radius: 1rem;
}
.modal__btn_wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.modal__btn {
  color: white;
  border-radius: 1rem;
  padding: 1rem 2rem;
}
.modal__btn:first-child {
  background-color: transparent;
  border: 0.1rem solid rgb(133, 67, 204);
  color: rgb(133, 67, 204);
}
.modal__btn:last-child {
  background-color: rgb(133, 67, 204);
  border: none;
}
.modal__btn:hover {
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem 1.2rem rgb(19, 18, 18);
}

#descriptionTask-input {
  width: 90%;
  display: block;
  margin: 0 auto;
  margin-bottom: 4rem;
  padding: 1.5rem;
  height: 20rem;
  border-radius: 1rem;
  border: 0.1rem solid white;
  color: white;
  font-size: 1.4rem;
  background-color: transparent;
  resize: none;
}
#descriptionTask-input:focus {
  outline: none;
}

.changeTask_wrapper {
  background-color: grey;
  width: 40%;
  padding: 4rem 9rem;
  position: absolute;
  top: 26%;
  left: 30%;
  border: 1px solid white;
  border-radius: 2rem;
}
.changeTask_wrapper label {
  text-align: center;
  margin-bottom: 1.5rem;
  display: block;
}
.changeTask_wrapper input {
  width: 100%;
  display: block;
  margin-bottom: 2rem;
  border: none;
  box-shadow: 0.5rem 0.5rem 1rem rgb(82, 81, 81);
}/*# sourceMappingURL=style.css.map */